HelloWorld/HelloWorld/settings.py
HelloWorld/HelloWorld/__pycache__/__init__.cpython-38.pyc
HelloWorld/HelloWorld/__pycache__/settings.cpython-38.pyc
HelloWorld/HelloWorld/__pycache__/testdb.cpython-38.pyc
HelloWorld/HelloWorld/__pycache__/urls.cpython-38.pyc
HelloWorld/HelloWorld/__pycache__/views.cpython-38.pyc
HelloWorld/HelloWorld/__pycache__/wsgi.cpython-38.pyc
HelloWorld/TestModel/__pycache__/__init__.cpython-38.pyc
HelloWorld/TestModel/__pycache__/admin.cpython-38.pyc
HelloWorld/TestModel/__pycache__/apps.cpython-38.pyc
HelloWorld/TestModel/__pycache__/models.cpython-38.pyc
HelloWorld/TestModel/migrations/__pycache__/__init__.cpython-38.pyc
HelloWorld/TestModel/migrations/__pycache__/0001_initial.cpython-38.pyc
HelloWorld/TestModel/migrations/__pycache__/0002_blogtype_tblog_tcomment_ttag_ttagblog_and_more.cpython-38.pyc
