<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>登录页面</title>
   <style>
       body{
       text-align:center;
      }
   </style>
</head>
<body>
<form action="/login/" method="post">
  {% csrf_token %}
   <h1 align="center">登录页面</h1>
   <p class="divs" align ="center">
       <label for="username">用户名:</label>
       <input type="text" id="username" name="username" align="center">
   </p>
   <p class="divs" align ="center">
       &nbsp&nbsp&nbsp<label for="password">密码:</label>
       <input type="password" id="password" name="password">
   </p>
   <input type="submit" value="登录" align ="center">


</form>
<form action="/sign/" method="post">
  {% csrf_token %}
    <input type="submit" value="注册" align ="center">

</form>
   <!-- 单独展一行 -->
</p>
<span style="color:red">
 {{ error }}</span>


</body>
</html>